---
layout: reveal
title: Net Neutrality
theme: lessig-asu
transition: none
transitionSpeed: fast
---
%section.title
	.title-block
		%h1
			Net Neutrality:
		%h2
			What?<br>
			How?<br>
			Why?
	%aside.notes
		:markdown
			Hello and welcome to this New York Times Cafe event on Net Neutrality. I'm Dr. Andrew Pilsch and today I'll be talking to you about the topic that's currently in the news and will really affect all of our lives, going forward: Net Neutrality.
%section
	%h1 Who Am I?
	
	:markdown
		Andrew Pilsch  
		Assistant Professor  
		ASU Polytechnic
		{:.question}
	%aside.notes
		:markdown
			First, though, a little about me. I teach in English in the College of Letters and Sciences at the ASU Polytechnic campus. My background is in a field called rhetoric, which is the study of persuasive discourse and the historical usage of communication to affect change in the world. Specifically, I study the ways in which digital technologies change the nature of discourse and how these changes in our communications change who we are and how we think. Basically, I'm interested in the way that digital technologies are remaking us as people and even what it means to be alive.
			
			Today, I've been asked to talk with you about

%section
	%p.bigger Net Neutrality
	%aside.notes
		:markdown
			 net neutrality. This is a 
%section
	%p.bigger Complicated
	%aside.notes
		:markdown
			complicated and 
%section
	%p.bigger Important
	%aside.notes
		:markdown
			important issue that will, not to put too fine a point on it, 
%section
	%p.bigger Effect All of Us
	%aside.notes
		:markdown
			effect all of us for years to come. To explain it simply, net neutrality is a dispute over the 
%section
	%p.bigger Neutrality of the Network
	%aside.notes
		:markdown
			neutrality of the network that makes up the Internet. Basically, 
%section
	%p
		= image_tag "images/net-neutrality/comcast.png"
	%p
		= image_tag "images/net-neutrality/verizon.png"
	%aside.notes
		:markdown
			Internet Service Providers (ISPs) want to charge you more to visit certain websites or deliver them at a 
%section
	%p.bigger higher or lower
	%aside.notes
		:markdown
			higher or lower speed. Others, primarily web companies and Internet freedom advocates, say that such a change to a tiered model would fundamentally 
%section
	%p.big destroy the Internet
	%p.bigger.fragment PERIOD
	%aside.notes
		:markdown
			destroy the Internet, not just as we know it, but **click** PERIOD.
			
			Why this is, and how this issue came to pass, is a surprisingly complicated issue, stretching back to the
%section
	%p= image_tag "images/net-neutrality/railroad.png"
	%aside.notes
		:markdown
			1800s and the settlement of the American West after the Civil War. Additionally, the issue of settling network neutrality, an issue which literally threatens the way business is done and life is conducted in the 21st century, is bogged down in nuanced points of 
%section
	%p.big Telecommunication Law
	%aside.notes
		:markdown
			telecommunication law that often cloud the ability of the general public, such as all of us, to understand that this is not an issue limited to the 
%section
	%p.bigger Technology Industry
	%aside.notes
		:markdown
			technology industry, rather it is a 
%section
	%p.bigger Threat
	%aside.notes
		:markdown
			threat to the idea of the Internet and the 
%section
	%p.bigger Centrality
	%aside.notes
		:markdown
			centrality it plays in our lives.
			
			As such, I have divided my talk tonight into three sections, related to 
%section
	%p.bigger Three Questions
	%aside.notes
		:markdown
			three questions:
%section
	%p.question.left 1. What Is Net Neutrality?
	%p.question.left.fragment 2. How Did It Become an Issue?
	%p.question.left.fragment 3. Why Is It a Problem?
	%aside.notes
		:markdown
			one, what is net neutrality? **click** two, how did it become such an issue? and **click** three, why is it a problem? In answering the first question, I'll get into the background on network neutrality and the broader legal issues informing this dispute. In answering the second, I'll explain how network neutrality is part of a broader debate over what the Internet actually is and how it should and does work. In answering the third, I'll get into some of the broader threats and issues involved in this dispute over definitions of what the Internet actually is.
%section
	%h1 1.<br> What Is Net Neutrality?
	%aside.notes
		:markdown
			The debate surrounding network neutrality, as I mentioned, has to do with whether or not ISPs can charge more for higher access speeds to certain parts of the Internet. This dispute came to a head when Verizon brought a 
%section
	%p.bigger Verizon v. FCC (2011)
	%aside.notes
		:markdown
			suit in 2011 against the Federal Communication Commission (FCC) challenging the FCC's right to govern the way in which broadband ISPs can manage how the throughput of their network is managed. Back in January, the case, which had been appealed several times, was decided by a federal appeals court decided partly in favor of Verizon, concluding that as currently configured the FCC had 
%section
	%p.bigger No Right to Regulate the Internet
	%aside.notes
		:markdown
			no right to regulate the Internet in the way it was trying to do so, but also suggested in its ruling that the FCC 
%section
	%p.bigger Rethink
	%aside.notes
		:markdown
			rethink its 
%section
	%p.bigger Governance Policies
	%aside.notes
		:markdown
			governance policies for the Internet, which is why 
%section
	%p.bigger This Debate Is Ongoing
	%aside.notes
		:markdown
			this debate is ongoing, as we speak.
			
			So, what does all that mean? At its 
%section
	%p.bigger Heart
	%aside.notes
		:markdown
			heart, 
%section
	%p.bigger Network Neutrality
	%aside.notes
		:markdown
			network neutrality is a debate about whether or not the Internet can be regulated as what is called a 
%section
	%p.bigger Common Carrier
	%aside.notes
		:markdown
			common carrier. This idea of "common carrier" dates back to the 
%section
	%p.bigger 1800s
	%aside.notes
		:markdown
			1800s and was specifically developed to manage a 
%section
	%p.bigger Crisis
	%aside.notes
		:markdown
			crisis in the 
%section
	%p.bigger Railroad Industry
	%aside.notes
		:markdown
			railroad industry. At the time, as private companies 
%section
	%p=image_tag "images/net-neutrality/railroad2.png"
	%aside.notes
		:markdown
			laid track that crisscrossed the American West to move products to markets back East, competition between rail lines intensified. In order to compete, railroads competitively 
%section
	%p.bigger Lowered Their Price
	%aside.notes
		:markdown
			lowered their price to 
%section
	%p.bigger Attract Business
	%aside.notes
		:markdown
			attract business. The situation reached a point where rail lines were 
%section
	%p.bigger Taking a Loss
	%aside.notes
		:markdown
			taking a loss to ship any freight, meaning that it cost them money every time they agreed to hail anything. Realizing that this situation would lead to a 
%section
	%p.bigger Collapse 
	%aside.notes
		:markdown
			collapse of a vital industry, the US government had to intervene.

			The 
%section
	%p.bigger Designation 
	%aside.notes
		:markdown
			designation of a 
%section
	%p.bigger Common Carrier 
	%aside.notes
		:markdown
			common carrier was the result. Rather than 
%section
	%p.bigger Nationalize 
	%aside.notes
		:markdown
			nationalize the railroads, as a country like France did when faced with the same issue, the US government can define certain 
%section
	%p.bigger Interstate Commerce Networks 
	%aside.notes
		:markdown
			interstate commerce networks, such as railroads in this example, as of 
%section
	%p.bigger Vital National Importance 
	%aside.notes
		:markdown
			vital national importance and label them 
%section
	%p.bigger Common Carriers 
	%aside.notes
		:markdown
			common carriers. What this means, in practice, is that a company, thus designated, is granted limited 
%section
	%p.bigger Exemptions 
	%aside.notes
		:markdown
			exemptions to 
%section
	%p.bigger Monopoly Laws 
	%aside.notes
		:markdown
			monopoly laws in exchange for agreeing to certain 
%section
	%p.bigger Federally Mandated Conditions 
	%aside.notes
		:markdown
			federally mandated conditions, the most important of which is that these common carriers have to 
%section
	%p.bigger Accept All Customers 
	%aside.notes
		:markdown
			accept all customers.

			So, as an example, say I owned a tannery in 
%section
	%p= image_tag "images/net-neutrality/bisbee.png" 
	%aside.notes
		:markdown
			Bisbee. I need to ship the leather I make to Omaha to sell it at market, in order to turn a profit, as there isn't a big market in Bisbee for leather. I have to use the railroad to do this. As a tannery owner, it's unreasonably expensive and unnecessarily wasteful to build a railroad between Bisbee and El Paso to ship my leather. 
%section
	%p= image_tag "images/net-neutrality/railroad3.png" 
	%aside.notes
		:markdown
			So, I can use the railroad that already exists. But, say the railroad company owner also owns a tannery and doesn't want to ship my leather, as it competes with his business and limits his profits. If the railroad hadn't been designated as a 
%section
	%p.bigger Common Carrier
	%aside.notes
		:markdown
			common carrier, he could 
%section
	%p.bigger Refuse
	%aside.notes
		:markdown
			refuse to transport my product on his rail line. Because it is a 
%section
	%p.bigger Common Carrier
	%aside.notes
		:markdown
			common carrier, the law says he has to charge me the same rate he charges everyone else to ship my product to market.

			What, though, does this have to do with watching
%section
	%p.bigger= image_tag "images/net-neutrality/grumpy-cat.png"
	%aside.notes
		:markdown
			cat videos or taking a quiz on Blackboard, you might ask? Which, frankly, would be a 
%section
	%p.bigger Good Question
	%aside.notes
		:markdown
			good question.

			Well, a key extension to the common carrier definition came in 1934, with the 
%section
	%p.bigger Communication Act of 1934
	%aside.notes
		:markdown
			Communications Act of 1934, which defined that the telephone system was a common carrier analogous to a shipping or railroad company. Any 
%section
	%p.bigger Telephone Company
	%aside.notes
		:markdown
			telephone company in the US has to charge a 
%section
	%p.bigger Flat Rate
	%aside.notes
		:markdown
			flat rate to all who want to use its services and it cannot 
%section
	%p.bigger Discriminate
	%aside.notes
		:markdown
			discriminate against customers.

			Now, you may not remember this, but have any of you ever used a 
%section
	%p.bigger Modem?
	%aside.notes
		:markdown
			modem to dial the Internet? **Pause**

			Back in the day, placing a call to an ISP over the telephone network with a modem was the only way to access the Internet. At this time, any question about whether or not the Internet was a common carrier was 
%section
	%p.bigger Moot
	%aside.notes
		:markdown
			moot, as the Internet happened through a network that was, at least for the end users, already regulated as a common carrier.

			The development of 
%section
	%p.bigger Broadband Internet
	%aside.notes
		:markdown
			broadband Internet changed all that, however. How many of you have Internet through Cox or some other 
%section
	%p.bigger Cable Company?
	%aside.notes
		:markdown
			cable company? **Pause**

			Most of you? Exactly.

			This shift to cable Internet in the home was actually a 
%section
	%p.bigger Huge Problem
	%aside.notes
		:markdown
			huge problem for Internet regulation. While cable television providers are granted 
%section
	%p.bigger Local Monopolies
	%aside.notes
		:markdown
			local monopolies, their business is defined as an 
%section
	%p.bigger Information Service
	%aside.notes
		:markdown
			information service, which is not seen as 
%section
	%p.bigger Interstate Commerce
	%aside.notes
		:markdown
			interstate commerce and therefore not governed by Federal law. Instead, cable companies are regulated by states and municipalities. Any service dealing with communication (radio, TV, etc) is governed by rules set by the FCC (even if those rules are "pass it along to the states"), and the FCC defines a whole array of different 
%section
	%p.bigger Services
	%aside.notes
		:markdown
			services that confirm to different ideas of what the service is or does. With the move to cable, the legal status of the Internet is 
%section
	%p.bigger Murky
	%aside.notes
		:markdown
			murky: is it a 
%section
	%p.big Telecommunication Service
	%aside.notes
		:markdown
			telecommunication service (which is the common carrier definition used to regulate the telephone network) or is it an 
%section
	%p.big Information Service
	%aside.notes
		:markdown
			information service (which is the designation for things like TV or radio). As it stands, the FCC considers the Internet an information service, which was the basis of Verizon's 2010 suit against the FCC.

			What this means in practical terms is that the FCC cannot tell cable ISPs how to 
%section
	%p.bigger Manage Their Networks
	%aside.notes
		:markdown
			manage their networks. As such, a 
%section
	%p.bigger Cable ISP
	%aside.notes
		:markdown
			cable ISP such as Cox could, say, offer to let Google 
%section
	%p.bigger Pay To Deliver
	%aside.notes
		:markdown
			pay to deliver its online music store to customers at a 
%section
	%p.bigger Higher Speed
	%aside.notes
		:markdown
			higher-than-normal speed. If, then, Google's service arrived at your computer 
%section
	%p.bigger Faster
	%aside.notes
		:markdown
			faster than Apple's store, people might start to 
%section
	%p.bigger Prefer
	%aside.notes
		:markdown
			prefer Google's service. Cox can do this because they are not regulated as a 
%section
	%p.bigger Common Carrier
	%aside.notes
		:markdown
			common carrier: this is analogous to the railroad refusing to carry (or charging me more for freight) in my tannery example, earlier.

			Ok, so another question you may be asking: 
%section
	%p.bigger How?
	%aside.notes
		:markdown
			how does a cable company's ability to charge more for higher speeds effect the Internet? Well, that question has more to do with the 
%section
	%p.bigger Nature of the Internet
	%aside.notes
		:markdown
			nature of the Internet, itself, an aspect that we often 
%section
	%p.bigger Overlook
	%aside.notes
		:markdown
			overlook when we think or talk about it. Based on its 
%section
	%p.big "Inter": "Between"
	
	%p.big "Net": "Network"
	%aside.notes
		:markdown
			etymology ("inter" meaning between and "net" networks), the Internet is actually a series of 
%section
	%p.bigger Protocols
	%aside.notes
		:markdown
			protocols and technologies that allow privately managed networks to find each other and communicate. Originally conceived as a way to 
%section
	%p.bigger Link
	%aside.notes
		:markdown
			link research networks, and funded by the Defense Department as a way to build a network that could route data if large chunks of it were destroyed by 
%section
	%p.bigger= image_tag "images/net-neutrality/mushroom-cloud.png"
	%aside.notes
		:markdown
			nuclear war, btw, the Internet is actually a 
%section
	%p.bigger Vast Collection
	%aside.notes
		:markdown
			vast collection of 
%section
	%p.bigger Local Networks
	%aside.notes
		:markdown
			local networks strung together through 
%section
	%p.bigger= image_tag "images/net-neutrality/fiber-optic.png"
	%aside.notes
		:markdown
			fiber optic cable and able to locate each other thanks to technologies such as 
%section
	%p.bigger DNS
	%aside.notes
		:markdown
			DNS (Domain Name System), a protocol that translates a 
%section
	%p.bigger URL
	%aside.notes
		:markdown
			universal resource locater (URL) such as 
%section
	%p.bigger asu.edu <br>=<br> 129.219.10.58
	%aside.notes
		:markdown
			"asu.edu" into a number that can be found through a series of telecommunication routers.

			So, in other words, the Internet is nothing but a conglomeration of privately held and maintained networks, many of which are owned and operated by broadband Internet providers. 
%section
	%p.bigger=image_tag "images/net-neutrality/traceroute.png"
	%aside.notes
		:markdown
			Here's a screen capture of a customer of Comcast, one of the largest and most aggressively anti-Net-Neutrality cable ISPs, running a command called traceroute to a server owned by Netflix. Traceroute is a command used to debug network connectivity and it returns all the hubs (called routers) through which a packet of information is shipped between the user's home computer (192.168.1.1 in the above example) to Netflix's streaming video server with the IP address of 108.175.39.182. Note how for most of these steps, the routers are owned by Comcast (indicated by the "comcast.net" URLs) before heading to Level 3, who is a large peering company that manages heavy duty fiberoptic backbones that move a lot of Internet traffic.

			Ok, so what this shows is that the Internet, for most of us, is at least partly 
%section
	%p.bigger Coterminous
	%aside.notes
		:markdown
			coterminous with the networks of our 
%section
	%p.bigger Cable Companies
	%aside.notes
		:markdown
			cable companies. And if the cable companies can manage 
%section
	%p.bigger How
	%aside.notes
		:markdown
			how and 
%section
	%p.bigger What
	%aside.notes
		:markdown
			what we see, the can effectively 
%section
	%p.bigger Control the Internet
	%aside.notes
		:markdown
			control the Internet, because for most of us, they are partly one and the same.
%section
	%h1 2. <br> How Did This Happen?
	%aside.notes
		:markdown

			As I mentioned before, while not always happy about the FCC regulations regarding net neutrality, cable companies mostly accepted the FCC's rules that regulated them as common carriers for the first few years in which broadband Internet became a reality in America. However, all of this changed when a certain company began to 
%section
	%p.bigger= image_tag "images/net-neutrality/netflix-logo.png"
	%aside.notes
		:markdown	
			stream videos "on demand" over the network.

			So, how many of you have watched something on Netflix in the last week? A lot of you, as I thought.

			Netflix has become ubiquitous in US households. I've even required it as a "textbook" in a class I taught on post-apocalyptic TV and literature. In fact, as the NYT reported back in February, 
			
%section
	%p.bigger 30%
	%aside.notes
		:markdown
			30% of all Internet traffic in North America during prime time is now Netflix videos. And that figure rises to
%section
	%p.bigger 50%
	%aside.notes
		:markdown
			50% if you include YouTube. Google and Netflix account for 50% of all network traffic between the hours of 6 and midnight in the US. Think about that. **Pause**
			
			This
%section
	%p.bigger Increase
	%aside.notes
		:markdown
			increase in traffic from, specifically, Netflix is the justification for why cable ISPs want to charge these companies more to peer with (deliver content through) their networks: they argue that they cannot possibly 
%section
	%p.bigger Keep Up With Demand
	%aside.notes
		:markdown
			keep up with this new demand. Most evidence suggests that this claim is only true if ISPs chose to no longer continue their current rate of 
%section
	%p.bigger Network Expansion
	%aside.notes
		:markdown
			network expansion, which some claim they would like today.

			However, a story the *New York Times* has been covering for a few months suggests a different 
%section
	%p.bigger Interpretation
	%aside.notes
		:markdown
			interpretation, one that points toward the core of the issues surrounding the need to establish network neutrality on 
%section
	%p.bigger Firm, legal footing
	%aside.notes
		:markdown
			firm, legal footing. For months, Comcast customers complained that Netflix videos were becoming so 
%section
	%p.bigger Slow
	%aside.notes
		:markdown
			slow that the service was essentially 
%section
	%p.bigger Unusable
	%aside.notes
		:markdown
			unusable.  It was then revealed by Netflix's CEO that Comcast had asked Netflix to stop using third party peering services and that for a 
%section
	%p.bigger Fee
	%aside.notes
		:markdown
			fee, it could peer directly with Comcast. In a NYT article from March 20, 2014, entitled 
%section
	%p.big "Netflix Chief Alters View on Net Neutrality"
	%aside.notes
		:markdown
			"Netflix Chief Alters View on Net Neutrality," it is reported that "once Netflix agreed to pay Comcast for the better connection, Netflix customers were no longer experiencing the delays they had suffered recently when streaming video."

			Now, I'm not going to use the term 
%section
	%p.bigger "Shakedown"
	%aside.notes
		:markdown
			"shakedown" but ... well ... 
%section
	%p.big Draw Your Own Conclusions
	%aside.notes
		:markdown
			draw your own conclusions.

			The Netflix deal is interesting, because, as the NYT makes clear, "the definition of net neutrality needs to be expanded to encompass those activities that occur further away from the final customer." This dispute involved, as the NYT says, "connections not in the 
%section
	%p.bigger Last Mile
	%aside.notes
		:markdown
			last mile but at the 
%section
	%p.bigger Front Gates
	%aside.notes
		:markdown
			front gate," so not the part of the network that faces customers but that which faces businesses.

			This story highlights the fact that most conversations about net neutrality end up being about Netflix and many mention its 
%section
	%p.bigger Massive Bandwidth Consumption
	%aside.notes
		:markdown
			massive bandwidth consumption in America as key to this centrality. However, as I want to argue in this section of tonight's talk, the actual issue here is that Netflix is using the Internet to 
%section
	%p.bigger Directly Compete
	%aside.notes
		:markdown
			directly compete with cable's core business, which is still charging people exorbitant rates for television. 

			Part of the reason why debates over net neutrality have come to a head is that an increasing number of people are 
%section
	%p.bigger Cutting the Cable
	%aside.notes
		:markdown
			turning away from cable TV and doing most of their video consumption through 
%section
	%p.bigger Streaming Services
	%aside.notes
		:markdown
			streaming services offered by Google, Apple, Amazon, Netflix, and Hulu who are also the most commonly mentioned companies involved in Net Neutrality. The concern for people advocating for net neutrality is that the cable ISPs want to convert the Internet to a model that works more like how we pay for 
%section
	%p.bigger Cable
	%aside.notes
		:markdown
			cable in order to get more money from people who aren't 
%section
	%p.bigger Bundling
	%aside.notes
		:markdown
			bundling their cable TV with their cable Internet.
%section
	%p.bigger= image_tag "images/net-neutrality/tiered-internet.png"
	%aside.notes
		:markdown
			This is an artist's rendering of how this might work once implemented: **explain image**

			This tiered model is how we pay for cable. How many of you have had to or wanted to pay more for cable to buy a package of cable channels when all you really wanted was one channel (like BBC America or ESPN U for me)?

			The issue with this whole model, on a more basic level is the fundamental difference between TV and the Internet. TV is what's called a 
%section
	%p.bigger Broadcast Medium
	%aside.notes
		:markdown
			broadcast medium, while the Internet is a 
%section
	%p.bigger Point-to-Point Medium
	%aside.notes
		:markdown
			point-to-point medium. You may be most familiar with the term broadcast medium in relation to things like
%section
	%p.bigger TV & Radio
	%aside.notes
		:markdown
			television and radio, but in thinking about the differences between the Internet and 
%section
	%p.bigger Previous Media Forms
	%aside.notes
		:markdown
			previous media forms, the 
%section
	%p.bigger Similarities
	%aside.notes
		:markdown
			similarities between most forms of media culture become apparent in 
%section
	%p.bigger Opposition
	%aside.notes
		:markdown
			opposition to the Internet. With a 
%section
	%p.bigger Radio Broadcast
	%aside.notes
		:markdown
			radio broadcast, for instance, a 
%section
	%p.bigger Content Provider
	%aside.notes
		:markdown
			content provider 
%section
	%p.bigger Transmits
	%aside.notes
		:markdown
			transmits 
%section
	%p.bigger Content
	%aside.notes
		:markdown
			content (songs, talk, ads, etc.) to 
%section
	%p.bigger Consumers
	%aside.notes
		:markdown
			a network of receivers who consume the media. This 
%section
	%p.bigger Broadcast Model
	%aside.notes
		:markdown
			broadcast model is how TV works, it's how newspapers work, it's even how films work (if you think about it). The broader point here is that a 
%section
	%p.bigger Centralized Group
	%aside.notes
		:markdown
			centralized group of content creators act as 
%section
	%p.bigger Gatekeepers
	%aside.notes
		:markdown
			gatekeepers to determine who has access to their expensive distribution networks. Broadcast, in this much broader understanding, is a 
%section
	%p.bigger One-directional
	%aside.notes
		:markdown
			one directional medium in which a group determines who has 
%section
	%p.bigger Access
	%aside.notes
		:markdown
			access to the system.

			The Internet, as I mentioned early, however, 
%section
	%p.bigger Doesn't work like this
	%aside.notes
		:markdown
			doesn't work like this. It is a 
%section
	%p.bigger Point-to-point
	%aside.notes
		:markdown
			point-to-point medium: 
%section
	%p.bigger Anyone
	%aside.notes
		:markdown
			anyone connected online can act as a 
%section
	%p.bigger Content Transmitter
	%aside.notes
		:markdown
			content transmitter as well as a content receiver. This 
%section
	%p.bigger Democratic Model
	%aside.notes
		:markdown
			democratic model would be broken or at least damaged in a post-neutrality Internet: the cable companies are, in effect, attempting to 
%section
	%p.bigger Transform
	%aside.notes
		:markdown
			transform the Internet into a more broadcast medium.

			The shift away from this point-to-point model to a broadcast one is further muddled by the FCC's classification of the Internet as an 
%section
	%p.bigger Information Service
	%aside.notes
		:markdown
			information service. In the FCC's understanding, an information service would be something like TV (which is defined in this manner) or some other service in which users call up an 
%section
	%p.bigger External Source
	%aside.notes
		:markdown
			external source and receives the 
%section
	%p.bigger Content
	%aside.notes
		:markdown
			content they 
%section
	%p.bigger Request
	%aside.notes
		:markdown
			request. While this is part of the Internet's function, the important fact about the physical architecture of the network is that anyone using the Internet can start such a service, it is 
%section
	%p.bigger Not Broadcast
	%p.bigger.fragment By Design
	%aside.notes
		:markdown
			not broadcast, **Click** by design. Having said that, this 
%section
	%p.bigger Classification Problem
	%aside.notes
		:markdown
			classification problem highlights one of the issues I want to return to in a bit: the FCC, in defining the Internet as a broadcast medium, reveals that the people responsible for 
%section
	%p.bigger Regulating the Internet
	%aside.notes
		:markdown
			regulating the Internet lack a 
%section
	%p.bigger Fundamental Understanding
	%aside.notes
		:markdown
			fundamental understanding of what it does and how it works. 
%section
	%p.bigger This is Very Dangerous
	%aside.notes
		:markdown
			This is a very dangerous set of conditions.

			This point is really important to remember. We often experience the Internet as a broadcast medium, one in which we visit sites and receive content, but the principles that undergird the Internet and, more importantly, shape the start-up nature of Internet business means that 
%section
	%p.bigger New Players
	%aside.notes
		:markdown
			new players are constantly arriving to shape the way we use the Internet. 
%section
	%p.bigger Anyone Can Do This
	%aside.notes
		:markdown
			Anyone can do this. You can post things on the Internet any time, as long as you have a connection.
%section
	%h1 3. <br> Why Is This a Problem?
	%aside.notes
		:markdown
			Having said that, why is the ability to choose what businesses live and what businesses die online such a problem? Besides granting a private industry 
%section
	%p.bigger Control
	%aside.notes
		:markdown
			control over free enterprise, looking at some of the original debates over net neutrality can highlight one of the main problems with a 
%section
	%p.bigger Non-neutral Network
	%aside.notes
		:markdown
			non-neutral network.

			"Net Neutrality" term was first coined to capture the broader and more disastrous results, now playing out, of the 2002 decision by FCC chairman Michael Powell to categorize the broadband Internet as an 
			
%section
	%p.bigger Information Service
	%aside.notes
		:markdown
			information service instead of a telecommunication service (which would have, and still would, make it subject to common carrier laws). As a NYT article from April of this year makes clear, at the time of the decision, Powell argued that,
%section
	:markdown
		> While the Internet and broadband systems were built “with the help of the government,” Mr. Powell said, “they have suffered terribly chronic underinvestment.” In 2002, when Mr. Powell was chairman of the F.C.C., the agency voted to regulate cable-modem broadband service as a lightly regulated “information service” rather than as a “common carrier.”
	%aside.notes
		:markdown
			> While the Internet and broadband systems were built “with the help of the government,” Mr. Powell said, “they have suffered terribly chronic underinvestment.” In 2002, when Mr. Powell was chairman of the F.C.C., the agency voted to regulate cable-modem broadband service as a lightly regulated “information service” rather than as a “common carrier.”

			Reflecting on this 
%section
	%p.bigger Disastrous
	%aside.notes
		:markdown
			disastrous 2002 decision (the result of several decades of deregulation fever in Washington) led a Columbia law professor named 
%section
	%p.bigger= image_tag "images/net-neutrality/tim-wu.png"
	%aside.notes
		:markdown
			Tim Wu to start labeling the broader issues at stake in a common carrier regulated Internet as "net neutrality" in a 2003 paper. Wu's original call to arms about network neutrality is still really interesting for focusing on why this is such an issue. He wrote in 2003 that,
%section
	:markdown
		> The promotion of network neutrality is no different than the challenge of promoting fair evolutionary competition in any privately owned environment, whether a telephone network, operating system, or even a retail store. Government regulation in such contexts invariably tries to help ensure that the short-term interests of the owner do not prevent the best products or applications becoming available to end-users. The same interest animates the promotion of network neutrality: preserving a Darwinian competition among **every conceivable use of the Internet** so that only the best survive.
		>
		> — _Tim Wu, "Network Neutrality, Broadband Discrimination" (2003)_
	%aside.notes
		:markdown
			> The promotion of network neutrality is no different than the challenge of promoting fair evolutionary competition in any privately owned environment, whether a telephone network, operating system, or even a retail store. Government regulation in such contexts invariably tries to help ensure that the short-term interests of the owner do not prevent the best products or applications becoming available to end-users. The same interest animates the promotion of network neutrality: preserving a Darwinian competition among every conceivable use of the Internet so that only the best survive.

			What particularly interests me about Wu's position here is the phrase "every conceivable use of the Internet." In 2003, the Internet was similar but radically less pervasive. Netflix was shipping DVDs via mail but had yet to begin streaming. Unlimited streaming music streaming services such as Spotify were still five years away. ASU Online wasn't even a dream yet.

			The point of all this, as Wu is trying to make clear, is that the Internet is a remarkably effective 
%section
	%p.bigger Platform
	%aside.notes
		:markdown
			platform for doing 
%section
	%p.bigger New Things
	%aside.notes
		:markdown
			new things. In other words, we don't even know
%section
	%p.bigger= image_tag "images/net-neutrality/frieza.png"
	%aside.notes
		:markdown
			the Internet's final form, yet. Evolution and constant innovation are part of the platform's core affordances. By converting the Internet in the US to work more like cable television, where new companies and even individuals hosting sites do not get the same 
%section
	%p.bigger Preferential Treatment
	%aside.notes
		:markdown			
			preferential treatment as big players is at risk of standardizing the Internet landscape, of finally and absolutely determining the shape of the Internet.

			So, in a way, this is a question of maintaining 
%section
	%p.bigger Online Innovation
	%aside.notes
		:markdown	
			online innovation. Moreover, part of a related issue is that potentially stifling this innovation is being done in order to make some very wealthy cable companies 
%section
	%p.bigger Slightly Richer
	%aside.notes
		:markdown	
			slightly richer. Why, then, is this happening? Many higher-ups in the FCC have close relationships with cable companies.

			Another related issue that is perhaps more concerning than the ability for online companies to continue to 
%section
	%p.bigger Innovate and Compete
	%aside.notes
		:markdown	
			innovate and to compete in a free environment is the questions of an Internet 
%section
	%p.bigger Master Switch
	%aside.notes
		:markdown	
			master switch that moves away from a neutral Internet suggest, which draws is a concept Tim Wu develops in his 2010 called *The Master Switch: The Rise and Fall of Information Empires*. Back in 2000, an FBI program called 
%section
	%p.bigger Carnivore
	%aside.notes
		:markdown	
			Carnivore was first revealed in a series of Freedom of Information Act requests. Carnivore was a system for conducting targeted Internet 
%section
	%p.bigger Surveillance
	%aside.notes
		:markdown	
			surveillance through a specially configuration that would have been mandated to be installed in all ISP networks throughout the Internet. Beyond the 
%section
	%p.bigger Privacy
	%aside.notes
		:markdown	
			privacy implications of such surveillance, another major concern with Carnivore was that these computers, through which all Internet traffic in North America would have flowed, were government owned and government controlled. In effect, if they were to somehow be 
%section
	%p.bigger Turned Off
	%aside.notes
		:markdown	
			turned off or adapted as filters, the US government could effectively 
%section
	%p.bigger Shut down the Internet
	%aside.notes
		:markdown	
			shut down the Internet or remove specific traffic segments.

			The plan was eventually abandoned in favor of private firms that collect all data and pass it along to the FBI as well as NSA efforts revealed by Jon Snowden, which are arguably worse from a privacy standpoint, but from the perspective of net neutrality are actually an 
%section
	%p.bigger Improvement
	%aside.notes
		:markdown	
			improvement. There are concerns being now raised that a non-neutral network would be subject to the same kind of 
%section
	%p.bigger Alarmist Fears
	%aside.notes
		:markdown	
			alarmist fears associated with Carnivore, but now the ability to kill the entire Internet or control what is seen online would be in the hands of 
%section
	%p.bigger Private Firms
	%aside.notes
		:markdown	
			private firms.

			These concerns are related to issues with how a non-neutral network would be implemented in the US. The major concern rests with a concept called 
%section
	%p.bigger Algorithmic Filtering
	%aside.notes
		:markdown	
			"algorithmic filtering." If you have ever used 
%section
	%p.bigger= image_tag "images/net-neutrality/facebook.svg", :id => "facebook"
	%aside.notes
		:markdown
			Facebook, and I suspect that most of you have, you've encountered an algorithmically filtered corner of the Internet. On Facebook, a complicated series of 
%section
	%p.bigger Computer Algorithms
	%aside.notes
		:markdown
			computer algorithms determine the stories that you will be most interested in. In fact, as you probably remember, Facebook got a ton of flak recently for publishing results of a study where they 
%section
	%p.bigger Tweaked
	%aside.notes
		:markdown
			tweaked the algorithm to see if they could make their users 
%section
	%p.bigger Happier
	%aside.notes
		:markdown
			happier or more 
%section
	%p.bigger Depressed
	%aside.notes
		:markdown
			depressed.
			
			As the NYT reported when the story broke in June, Facebook "reported that, for one week in January 2012, it had altered the number of positive and negative posts in the news feeds of 
%section
	%p.bigger 689,003
	%aside.notes
		:markdown
			689,003 randomly selected users to see what effect the changes had on the tone of the posts the recipients then wrote." Scary stuff.

			The 
%section
	%p.bigger Concern
	%aside.notes
		:markdown
			concern with a non-neutral net is that 
%section
	%p.bigger Everything
	%aside.notes
		:markdown
			everything on the Internet would start to operate like Facebook: only showing stories that some third party, ungoverned by any regulation (as, with the Facebook study, which did not have IRB approval to experiment on human subjects), could determine or at least 
%section
	%p.bigger Nudge
	%aside.notes
		:markdown
			nudge you toward what content you see online. This discussion vis-a-vis algorithmic filtering and net neutrality recently came to a head with the events in 
%section
	%p.bigger=image_tag "images/net-neutrality/ferguson.png"
	%aside.notes
		:markdown
			Ferguson. Zeynep Tufecki published a story on Medium called 
%section
	%p.big "What Happens to #Ferguson Affects Ferguson"
	%aside.notes
		:markdown
			[What Happens to #Ferguson Affects Ferguson](https://medium.com/message/ferguson-is-also-a-net-neutrality-issue-6d2f3db51eb0) discussing the difference in coverage of the unfolding police response to the murder of Michael Brown on Facebook and Twitter. As you may be familiar, Twitter was littered with coverage of the protests and the brutal police response. Additionally, as Tufecki noted and others confirmed, Facebook largely avoided the topic.

			Though there's no way to verify this claim, as Facebook's 
%section
	%p.bigger Filtering Algorithm
	%aside.notes
		:markdown
			filtering algorithms are massive trade secrets, Tufecki suggests (coupled with the Facebook emotion studied published a few months before Ferguson) that perhaps Facebook's desire to show its users 
%section
	%p.bigger Happy Stories
	%aside.notes
		:markdown
			happy stories could be partly behind the seeming lack of coverage for Ferguson on Facebook. Now, this speculation is veering close to 
%section
	%p.bigger= image_tag "images/net-neutrality/tinfoil-hat.png"
	%aside.notes
		:markdown
			tinfoil hat, conspiracy territory, but Tufecki's point is worth considering: what if algorithmic filtering on one corner of the Internet effectively 
%section
	%p.bigger Quashed
	%aside.notes
		:markdown
			quashed a major story as it developed and was covered on 
%section
	%p.bigger Non-filtered Media
	%aside.notes
		:markdown
			non-filtered media such as Twitter?

			If the whole Internet worked more like Facebook or sites like Upworthy, how would a major watershed moment in recent Internet history, such as 
%section
	%p.bigger= image_tag "images/net-neutrality/arab-spring.png"
	%aside.notes
		:markdown
			The Arab Spring, even happen. By transforming the Internet from an 
%section
	%p.bigger All-comers Welcome
	%aside.notes
		:markdown
			all-comers welcome common carrier into a 
%section
	%p.bigger Filtered Network
	%aside.notes
		:markdown
			filtered network where those how have the 
%section
	%p.bigger Most Money
	%aside.notes
		:markdown
			most money have the 
%section
	%p.bigger Loudest Voices
	%aside.notes
		:markdown
			loudest voices, we risk losing a
%section
	%p.bigger Precious & Important Tool
	%aside.notes
		:markdown
			precious and important tool that is radically reshaping human history. In this way, even more than the issues with competition and innovation for online businesses, which is still really important, net neutrality is a debate about 
%section
	%p.bigger The Future of Freedom of Speech
	%aside.notes
		:markdown
			the future of freedom of speech and freedom of information online.

			The concern is that in the age of a non-neutral network, all of the Internet would look like, as 
%section
	%p.bigger= image_tag "images/net-neutrality/homer-simpson.png"
	%aside.notes
		:markdown
			Homer Simpson once described *USA Today*, "the only paper in America that's not afraid to tell the truth, that everything is just fine." The Internet would transform a loud and unruly collection of voices to one where there's one story being told and that is the story that those with money and power want to tell us.

			So, tonight we've learned that Net Neutrality is a debate about applying 
%section
	%p.bigger Common Carrier
	%aside.notes
		:markdown
			common carrier laws to the Internet, something that the FCC (perhaps due to corporate pressure) is unwilling to do. Then we saw that this debate ultimately will determine whether the Internet will continue to be a 
%section
	%p.bigger Cultural Commons
	%aside.notes
		:markdown
			cultural commons or will operate more like how cable TV currently works. Finally, we saw some of the frightening and potentially 
%section
	%p.bigger Devastating Consequences
	%aside.notes
		:markdown
			devastating consequences that would result from a non-neutral network. I want to leave with a sense of 
%section
	%p.bigger What You <br> Can Do
	%aside.notes
		:markdown
			what you can do if you're concerned about net neutrality.

			At this moment, the FCC 
%section
	%p.big Visit:
	%p.question= link_to "http://www.fcc.gov/comments", "http://www.fcc.gov/comments"
	%p.big Click:
	%p.question "14-28"
	%aside.notes
		:markdown
			is still debating its new policies regarding the open internet, and the original public comment period, which generated more than 1 million remarks from citizens all across the country, has been extended until the 15th of September, so you have a few more days if you want your voice heard.

			To contribute, visit http://www.fcc.gov/comments and click on "14-28" to enter your comments into the debate.

%section
	%p.big Visit:
	%p.question= link_to "https://www.battleforthenet.com", "https://www.battleforthenet.com"
	%aside.notes
		:markdown
			A consortium of activists, companies, and concerned citizens have just this morning launched Battle for the Net which is organizing a letter writing and telephone campaign to push for net neutrality in Congress. At their website, you can sign their letter and receive help to call Arizona's members of Congress.

			Beyond that, I would suggest two other paths for action you can follow. 
%section
	%p.bigger One
	%aside.notes
		:markdown
			One, start reading up on the 
%section
	%p.bigger= image_tag "images/net-neutrality/eff.png"
	%aside.notes
		:markdown
			Electronic Frontier Foundation, a policy and lobbying group committed to the values of an open Internet. They have been staging various protests in support of a neutral Internet, and they are a good avenue for participation. 
%section
	%p.bigger Two
	%aside.notes
		:markdown
			Two, start educating yourself and to 
%section
	%p.bigger Vote!
	%aside.notes
		:markdown
			vote in congressional elections. The US Congress is ultimately responsible for administrating the FCC and establishing America's Internet law. And, as former Senator 
%section
	%p.bigger= image_tag "images/net-neutrality/ted-stevens.png"
	%aside.notes
		:markdown
			Ted Stevens showed when he referred to the Internet as "a series of tubes," the people governing this important medium are not particularly savvy about its workings. Read up on candidates, find those who support an open Internet, contribute to their campaigns (either monetarily or through volunteering), and vote!

			To conclude, I want to leave you with these remarks
%section
	%p.bigger=image_tag "net-neutrality/net-comments.png"
	%aside.notes
		:markdown
			 from the FCC's collection of 1.1 million comments on new open internet policy, which you can see summarized in this infographic. Written by TC Ferrell of Banks, Alaska, it is poignant and points to the issues at stake (it's also a great reference to HG Wells's *The Time Machine*):

			> As a user who already suffers slow internet due to geography and income, I say that keeping the internet an equal opportunity environment is essential to the proliferation of the thing itself. If some users benefit from a change that causes many to suffer then it is a step in the wrong direction. It would be easy to say that this proposal is a shameless grab for wealth and power, but I choose to say what is difficult: there is a critical moment coming; one that will be of vital importance to the human race for all time to come, and there are individuals in a position to raise up humanity to a height inconceivable. However, those individuals are also in a position to drive a wedge between themselves and the remainder of humanity permanently, not unlike the morlocks of Wells' dystopia. Choose the righteous path. Choose the path that leads to a strong, unified humankind. Thank you.
			
			Thanks for coming out tonight, everyone. We have some time for discussion, so I want to hear from all of you.
%section
	%p.bigger What Do You Think?
	%aside.notes
		:markdown
			What do you think about this issue? What do you want to know more about?