---
layout: reveal
title: Texas A&M
theme: simple
transition: linear
transitionSpeed: fast
hidden: true
---
:scss
	#watermark {
		display: none;
	}
	.reveal {
		blockquote {
			text-align: left;
			font: {
				style: normal !important;
			};
			border: 0px;
			box-shadow: none;
			width: 100% !important;
			p {
				line-height: 1.35em !important;
				margin-bottom: 18px;
			}
		}
		ul {
			font-size: 1.25em;
			line-height: 1.25;
			ul {
				font-size: inherit;
			}
		}
		h2.big {
			font-size: 2.5em;
		}
		section img {
			border: 0;
			box-shadow: none;
			max-height: 668px;
		}
		section.quote {
			blockquote {
				position: relative;
				&:before {
					content: "“";
					color: rgba(0,0,0,0.4);
					position: absolute;
					left: -40px;
					top: 16px;
					font-size: 6.5rem;
					font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
					z-index: 2;
					width: 40px;
				}
			}
		}
		
	}
	.title {
		h2 {
			font: {
				weight: 400;
				size: 1.6em;
			};
			line-height: 0.95em;
			margin-top: 1em;
			&.small {
				font-size: 1.25em;
			}
		}
		p {
			font: {
				size: 1.75em;
			}
		}
		
	}

	.title-block {
		margin-top: 2em !important;
		&:first-child {
			margin-top: 0 !important;
		}
		h1,h2 {
			color: black;
			margin-top: 0 !important;
		}
		h1 + h2 {
			margin-top: .75em !important;
		}
	}
	.big {
		p {
			font-size: 1.25em;
		}
	}
	.works-cited {
		p {
			padding-left: 0.5in;
			text-indent: -0.5in;
			text-align: left;
			font-size: 0.55em;
		}
		strong {
			letter-spacing: -4px;
		}
	}
%section.title
	.title-block
		%h1 What is <br> Transhumanism?
	.title-block
		%h2 Andrew Pilsch
		%h2 January 26, 2015
%section
	%h2 Research Origins
	%ul
		%li.fragment Computer Science
		%li.fragment Science Fiction as Cultural Symptom
		%li.fragment Rhetoric of Critical Theory
%section
	%h2 Research Futures
%section
	:markdown
		## Inhumanism
		
		* Inhuman Autonomous Systems
			* Economies
			* Pandemics
			* Climates
%section
	:markdown
		## Rhetoric and Futurism
		
		* Tropes of Futurism
			* "Biology is Wrong"
			* "People are Data"
			* "Space must be Managed"
%section.title
	%h2.big 
		%strong Part I <br>
	%p What Is Transhumanism?
%section.quote
	:markdown
		## Max More

		> Transhumanism is a class of philosophies of life that seek the continuation and acceleration of the evolution of intelligent life beyond its currently human form and human limitations by means of science and technology, guided by life-promoting principles and values.
%section
	.title-block
		%h2 Transhuman Technologies
		%h3 (More)
	%ul
		%li.fragment neuroscience and neuropharmacology
		%li.fragment life extension
		%li.fragment nanotechnology
		%li.fragment artificial ultraintelligence
		%li.fragment space habitation
%section
	= image_tag "tamu/startrek.jpg"
%section.quote
	:markdown
		## Cary Wolfe
		
		> As one of the central figures associated with transhumanism, the Oxford philosopher Nick Bostrom, makes clear, this sense of posthumanism derives directly from ideals of human perfectibility, rationality, and agency inherited from Renaissance humanism and the Enlightenment.
%section.quote
	:markdown
		## Cary Wolfe
		> "the human" is achieved by escaping or repressing not just its animal origins in nature, the biological, and the evolutionary, but more generally by transcending the bonds of materiality and embodiment altogether. In this respect, my sense of posthumanism is the *opposite* of transhumanism, and in this light, transhumanism should be seen as an *intensification* of humanism. (emph. in original)
%section.title
	%h2.big 
		%strong Part II <br>
	%p Transhumanism as a Religion of Technology?
%section
	= image_tag "http://ecx.images-amazon.com/images/I/51rzXk83RZL.jpg"
%section
	.title-block
		%h2 Transhuman Technologies
		%h3 (More)
	%ul
		%li neuroscience and neuropharmacology
		%li life extension
		%li nanotechnology
		%li artificial ultraintelligence
		%li space habitation
%section.quote
	:markdown
		## Nicholas Agar
		
		> radical enhancement involves improving significant human attributes and abilities to levels that greatly exceed what is currently possible for human beings.
%section
	=image_tag "http://cp91279.biography.com/BRAND_BIO_BSFC_157955_SF_2997_005-20140327_V1_HD_768x432-16x9.jpg"
%section
	= image_tag "http://cdn1.sciencefiction.com/wp-content/uploads/2013/12/TheFlash.jpg"
%section
	=image_tag "http://www.aceshowbiz.com/images/wennpic/usain-bolt-london-2012-olympic-games-06.jpg"
%section
	= image_tag "https://whitta82.files.wordpress.com/2013/07/dcnu-flash-running-large.jpg"
%section.quote
	:markdown
		## Max More
		
		> What you have made us is glorious, yet deeply flawed. You seem to have lost interest in our further evolution some 100,000 years ago. Or perhaps you have been biding your time, waiting for us to take the next step ourselves. Either way, we have reached our childhood’s end.
		>
		> We have decided that it is time to amend the human constitution.
%section
	= image_tag "http://th00.deviantart.net/fs28/PRE/f/2008/164/0/4/__Star_Child___from___2001___by_Lukasx.jpg", :alt => "Starchild"
%section
	= image_tag "http://www.flickeringmyth.com/wp-content/uploads/2014/05/lucy2.jpg", :alt => "Lucy"
%section.title
	%h2.big 
		%strong Part III <br>
	%p Transhumanism as a Rhetoric of Technology?
%section
	%h2 FM-2030
	%ul
		%li.fragment How Fluid Are You?
		%li.fragment How High Tech Is Your Attention Span?
		%li.fragment What Is Your Level Of Humanity?
%section
	=image_tag "tamu/ray-terry.jpg", :alt => "Ray and Terry's Longevity Products"
%section.quote
	:markdown
		## Julian Huxley
		
		> The human species can, if it wishes, transcend itself —not just sporadically, an individual here in one way, an individual there in another way, but in its entirety, as humanity. We need a name for this new belief. Perhaps transhumanism will serve: man remaining man, but trans­cending himself, by realizing new possibilities of and for his human nature.
		
%section.title
	%h3
		%strong Evolutionary Futurist <br> Rhetoric of Technology, I
	%p
		%em Automata Theory
%section.quote
	:markdown
		## John von Neumann
		
		> [Complex systems] can be viewed as made up of parts which to a certain extent are independent, elementary units. We may, therefore, to this extent, view as the first part of the problem the structure and functioning of such elementary units individually. The second part of the problem consists of understanding how these elements are organized into a whole, and how the functioning of the whole is expressed in terms of these elements.
%section.quote.big
	:markdown
		## John von Neumann
		
		> life is a process which can be abstracted away from any particular medium.
%section.title
	%h3
		%strong Evolutionary Futurist <br> Rhetoric of Technology, II
	%p
		%em The Whirlpool of Research
%section.quote
	:markdown
		## Pierre Teilhard de Chardin
		
		> And by his work, too, inasmuch as man inevitably at the term of everything he creates, finds man again, at a slightly higher level: a man who has always grown greater, either through sensorial penetration into the immense and the infinitesimal ... or (which is perhaps the most astonishing of all forms of progress) by direct multiplication and acceleration of his cerebral faculty of thought.
%section
	=image_tag "http://www.criticalplateau.com/uploads/book/image/171/51KiFxiV32L.jpg", :alt => "How We Became Posthuman"
%section
	%h2 Transhumanism <br> & <br> Utopia
%section
	%h1 Thank You
%section.works-cited
	:markdown
	
		Fm-2030. *Are You a Transhuman?: Monitoring and Stimulating Your Personal Rate of Growth in a Rapidly Changing World*. New York, NY: Warner, 1989. Print.

		Agar, Nicholas. *Humanity’s End: Why We Should Reject Radical Enhancement*. Cambridge, MA: MIT UP, 2010. Print.

		**––––––**. *Truly Human Enhancement: A Philosophical Defense of Limits*. Cambridge, MA: MIT UP, 2013. Print.

		Dyson, Freeman. “A Walk through Johnny von Neumann’s Garden.” *Notices of the AMS* 60.2 (Feb. 2013): 154–161. Print.

		Dyson, George. *Turing’s Cathedral: The Origins of the Digital Universe*. New York: Pantheon, 2012. Print.

		Hayles, N. Katherine. *How We Became Posthuman: Virtual Bodies in Cybernetics, Literature, and Informatics*. Chicago: Chicago UP, 1999. Print.

		Huxley, Julian. “Transhumanism.” *New Bottles For New Wine*. New York: Harper, 1957. 13–17. Print.

		Langton, Christopher G. “Artificial Life.” *Artificial Life: Proceedings Of An Interdisciplinary Workshop On The Synthesis And Simulation Of Living Systems*. Ed. Christopher G. Langton. Redwood City, CA: Westview Press, 1989. Print.

		More, Max. “A Letter to Mother Nature.” *Max More.com*. 1999. Web. 16 Jan. 2015.

		**––––––**. “Transhumanism: Towards a Future Philosophy.” *Max More.com*. 1996. Web. 16 Jan. 2015.

		Noble, David F. *The Religion of Technology: The Divinity of Man and the Spirit of Invention*. New York: Knopf, 1997. Print.


		Teilhard de Chardin, Pierre. *Activation of Energy*. Trans. Rent Hague. New York: Harcourt, 1971. Print.

		Than, Ker. “Hang in There: The 25-Year Wait for Immortality.” *LiveScience.com* (04 Nov. 2005). Web. 27 June 2012.

		“The Transhumanist FAQ 3.0.” Humanity+. Jan. 2013. Web. 16 Jan. 2015.

		Ulam, Stanislaw. “Tribute to John von Neumann, 1903-1957.” *Bulletin of the American Mathematical Society* 64.3 (May 1958): 1–49. Print.

		Von Neumann, John. “The General and Logical Theory of Automata.” *Collected Works Volume V: Design of Computers, Theory of Automata and Numerical Analysis*. Ed. A.H. Taub. New York: Pergamon, 1963. 288–326. Print.

		Ward, Mark. *Virtual Organisms: The Startling World of Artificial Life*. New York: Macmillan, 2000. Print.

		Wolfe, Cary. *What Is Posthumanism?* Minneapolis, MN: Minnesota UP, 2009. Print.
