!!! 5
%html
	%head
		%meta{ :charset => "utf-8" }/
		%title
			- if current_resource.data['title']
				= current_resource.data['title']
		= stylesheet_link_tag("remark/slides.css", :media => "all", :rel => "stylesheet" )
		- slideshow_specific_css = sitemap.resources.select{|a| (a.destination_path.match current_resource.destination_path.gsub(/\.html/,".css"))}[0]
		- if !slideshow_specific_css.nil?
			= stylesheet_link_tag(slideshow_specific_css.destination_path.gsub(/stylesheets\//,""), :media => "all", :rel => "stylesheet" )
	%body
		%textarea{ :id => "source"}
			= yield
		= javascript_include_tag("lib/zepto.min.js", "remark/remark.min.js")
		:javascript
			$(document).ready(function() {
				document.getElementById("source").innerHTML = document.getElementById("source").innerHTML.replace(/^\s{4}/gm,"");
				slideshow = remark.create({
					highlightStyle: 'solarized_light'
				});
			});
		- if @@load_charts
			- charts_js = sitemap.resources.select{|a| (a.destination_path.match current_resource.destination_path.gsub(/\.html/,".js"))}[0]
			= javascript_include_tag("lib/Charts.js")
			- if !charts_js.nil?
				= javascript_include_tag(charts_js.destination_path.gsub(/javascripts\//,""))
			:javascript
				$(document).ready(function(){
					load_charts();
				});
			