- default_twitter_name = "oncomouse"
- default_twitter_name_start = 2
!!! 5
%html
	%head
		%meta{ :charset => "utf-8" }/
		%title
			- if current_resource.data['title']
				= current_resource.data['title']
		= stylesheet_link_tag("remark/slides.css", :media => "all", :rel => "stylesheet" )
		= stylesheet_link_tag("remark/add-ons/animate.css", :media => "all", :rel => "stylesheet" )
		- slideshow_specific_css = sitemap.resources.select{|a| (a.destination_path.match current_resource.destination_path.gsub(/\.html/,".css"))}[0]
		- if !slideshow_specific_css.nil?
			= stylesheet_link_tag(slideshow_specific_css.destination_path.gsub(/stylesheets\//,""), :media => "all", :rel => "stylesheet" )
	%body
		%textarea{ :id => "source"}
			= yield
		= javascript_include_tag("lib/zepto.min.js", "remark/remark.min.js")
		- # Attach twitter name to each slide.
		- # Defaults to default_twitter_name (above) unless twitter_name is set.
		- # Defaults to not showing a slide on the first slide unless twitter_name_start is set (1 indexed).	
		- if current_resource.data['twitter']
			:javascript
				function attach_twitter_name() {
					var twitter_name = "#{if current_resource.data['twitter_name'] then current_resource.data['twitter_name'] else default_twitter_name end }";
					$('.remark-slide-content').slice(#{if current_resource.data['twitter_name_start'] then (current_resource.data['twitter_name_start'] - 1) else (default_twitter_name_start - 1) end}).each(function(i,slide){
						$(slide).append('<div class="twitter_name"><div class="twitter_badge">@' + twitter_name +  '</div></div>');
					});
				}
		:javascript
			$(document).ready(function() {
				document.getElementById("source").innerHTML = document.getElementById("source").innerHTML.replace(/^\s{4}/gm,"");
				slideshow = remark.create();
				#{if current_resource.data['twitter'] then "attach_twitter_name();" end}
			});
		- # Test for Charts.js support
		- # To load chart support, you also need to have a javascript file in source/javascripts/XX/YY.js where XX and YY matches the file path of your remark presentation (so source/remark/XX/YY.html is how you get the values).
		- # This javascript file needs to have one function, called "load_charts()."
		- # This function will contain all the initialization calls to Charts.js.
		- slideshow = File.open(current_page.source_file).read
		- if slideshow =~ /\<canvas/
			/ This slideshow needs charts:
			- charts_js = sitemap.resources.select{|a| (a.destination_path.match current_resource.destination_path.gsub(/\.html/,".js"))}[0]
			= javascript_include_tag("lib/Charts.js")
			- if !charts_js.nil?
				= javascript_include_tag(charts_js.destination_path.gsub(/javascripts\//,""))
				:javascript
					$(document).ready(function(){
						load_charts();
					});
			