!!! 5
%html
	%head
		%meta{ :charset => "utf-8" }/
		%title
			- if current_resource.data['title']
				= current_resource.data['title']

		%meta{ :name => "apple-mobile-web-app-capable", :content => "yes" }
		%meta{ :name => "apple-mobile-web-app-status-bar-style", :content => "black-translucent" }

		%meta{ :name => "viewport", :content => "width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" }

		= stylesheet_link_tag "reveal/reveal.css"
		= stylesheet_link_tag "reveal/theme/#{(current_resource.data['theme']) ? current_resource.data['theme'] : "default"}.css",  :id => "theme"
		- slideshow_specific_css = sitemap.resources.select{|a| (a.destination_path.match current_resource.destination_path.gsub(/\.html/,".css"))}[0]
		- if !slideshow_specific_css.nil?
			= stylesheet_link_tag(slideshow_specific_css.destination_path.gsub(/stylesheets\//,""), :media => "all", :rel => "stylesheet" )

		<!-- For syntax highlighting -->
		= stylesheet_link_tag "reveal/hljs/zenburn.css", "https://cdn.jsdelivr.net/gh/layerssss/icomoon-bower/style.min.css"

		<!-- If the query includes 'print-pdf', use the PDF print sheet -->
		:javascript
			document.write( '<link rel="stylesheet" href="#{asset_path(:css,"reveal/print/").gsub(".css","")}' + ( window.location.search.match( /print-pdf/gi ) ? 'pdf' : 'paper' ) + '.css" type="text/css" media="print">' );

		<!--[if lt IE 9]>
		= javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"
		<![endif]-->
		
		= javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/headjs/1.0.3/head.min.js"
		- slideshow_source = IO.read(current_page.source_file)
		- if slideshow_source =~ /[%<]canvas/
			- chart_type = "Charts.js"
			- load_charts = true
		- elsif slideshow_source =~ /[%<]svg/
			- chart_type = "nv.d3.js"
			- load_charts = true
		- if load_charts
			- chart_file_js = sitemap.resources.select{|a| (a.destination_path.match current_resource.destination_path.gsub(/\.html/,".js"))}[0]
			- if !chart_file_js.nil?
				- chart_file_js = chart_file_js.destination_path.gsub(/javascripts\//,"")
			- else
				- load_charts = false
		- head_js_array = []
		- head_load_callbacks = []
		- if load_charts and chart_type == "Charts.js"
			- head_js_array.push("https://cdnjs.cloudflare.com/ajax/libs/zepto/1.2.0/zepto.min.js")
			- head_js_array.push("https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js")
			- head_js_array.push(javascript_path(chart_file_js))
		- elsif load_charts and chart_type == "nv.d3.js"
			- head_js_array.push("https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.js")
			- head_js_array.push("https://cdnjs.cloudflare.com/ajax/libs/nvd3/1.8.6/nv.d3.min.js")
			- head_js_array.push("https://cdnjs.cloudflare.com/ajax/libs/nvd3/1.8.6/nv.d3.min.css")
			- head_js_array.push(javascript_path(chart_file_js))
		- if load_charts
			- head_load_callbacks.push("load_charts();")
		-head_js_array.push("#{javascript_path "https://cdnjs.cloudflare.com/ajax/libs/reveal.js/3.8.0/js/reveal.min.js"}")
		- head_js_array.uniq!
		- head_js_call = "['" + head_js_array.join("', '") + "']"#head_js_array.map { |x| variable_name(x)}.join(", ")
		:javascript
			var head_js_load = #{head_js_call};
			
			head.load(
				head_js_load,
				function() {
					#{if head_load_callbacks.length > 0 then "\n\t// Load any add-ons:" end}
					#{
						head_load_callbacks.join("\n  ")
					}
			        Reveal.initialize({
			        	controls: false,
			        	progress: true,
			        	history: true,
			        	center: true,
			        	viewDistance: 3,
			        	minScale: 0.2,
			        	maxScale: 1,
			        	margin: 0.1,
      
			        	theme: Reveal.getQueryHash().theme || "#{(current_resource.data['theme']) ? current_resource.data['theme'] : "default"}", // List available in stylesheets/reveal/themes
			        	transition: Reveal.getQueryHash().transition || "#{(current_resource.data['transition']) ? current_resource.data['transition'] : "default"}", // default/cube/page/concave/zoom/linear/fade/none
						transitionSpeed: '#{(current_resource.data['transitionSpeed']) ? current_resource.data['transitionSpeed'] : "default"}',
      
			        	// Optional libraries used to extend on reveal.js
			        	dependencies: [
			        		{ src: '#{javascript_path "https://cdnjs.cloudflare.com/ajax/libs/classlist/1.2.201711092/classList.min.js"}', condition: function() { return !document.body.classList; } },
			        		// { src: '#{javascript_path "reveal/plugin/markdown/marked.js"}',  condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
			        		// { src: '#{javascript_path "reveal/plugin/markdown/markedown.js"}',  condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
			        		//{ src: '#{javascript_path "reveal/plugin/highlight/highlight.js"}',  async: true, callback: function() { hljs.initHighlightingOnLoad(); } },
			        		//{ src: '#{javascript_path "reveal/plugin/zoom-js/zoom.js"}',  async: true, condition: function() { return !!document.body.classList; } },
			        		//{ src: '#{javascript_path "reveal/plugin/notes/notes.js"}',  async: true, condition: function() { return !!document.body.classList; } }
			        		// { src: '#{javascript_path "reveal/plugin/search/search.js"}',  async: true, condition: function() { return !!document.body.classList; } }
			        		// { src: '#{javascript_path "reveal/plugin/remotes/remotes.js"}',  async: true, condition: function() { return !!document.body.classList; } }
			        	]
			        });
				}
			);
		:scss
			.twitter_badge {
				position: relative;
				margin-left: 1.15em !important;
				display: inline-block;

				&:before, &:after {
					font-family: "icomoon";
					speak: none;
					font-style: normal;
					font-weight: normal;
					font-variant: normal;
					text-transform: none;
					line-height: 0.95em;
					-webkit-font-smoothing: antialiased;
					font: {
						size: 0.95em;
					};
				}

				&:before {
					content: "\f099";
					position: absolute;
					top: -0.05em;
					left: -1.15em;
				}
			}

			#watermark {
				position: fixed;
				z-index: 1000;
				bottom: 0.25em;
				right: 0.5em;
				font-size: 0.9em;

				&:before {
					top: 0.23em !important;
				}
			}
	%body
		.reveal
			%p#watermark.twitter_badge
				= current_resource.data['twitter'] ? current_resource.data['twitter'] : '@oncomouse'
			.slides
				= yield
	
