---
layout: reveal
title: RSA 14
theme: simple
transition: linear
transitionSpeed: fast
---
:sass
	@import bourbon
	.center
		iframe.twitter-tweet
			margin: auto !important
	.reveal
		img
			border: 0 !important
		h2
			//line-height: 1.25em !important
		blockquote
			width: 100% !important
			font:
				style: normal !important
			p
				line-height: 1.35em !important
				&:last-child
					text-align: right
					margin:
						top: 0.5em
					font:
						weight: 400
						style: italic
					display: block
					width: 100%
					&:before
						content: "—"
					em
						font-style: normal
			text:
				align: left
	.title
		h2
			font:
				weight: 400
				size: 1.6em
			margin-top: 1em
	.title-block
		margin-top: 2em !important
		&:first-child
			margin-top: 0 !important
		h1,h2
			margin-top: 0 !important
	.things
		margin-top: 2em !important
		@include clearfix
	.thing
		float: left
		&:nth-child(1), &:nth-child(2)
			&:after
				content: "⋯"
				font-size: 150px
				padding:
					left: 50px
					right: 50px
	.references
		width: 100%
		margin: 0 auto !important
		text-align: left
		p
			font-size: 0.75em !important
			padding-left: 0.5in
			text-indent: -0.5in
%section.title
	.title-block
		%h1 Posthuman, <br> Nonhuman, <br> Inhuman
	.title-block
		%h2 Andrew Pilsch, Arizona State
		%h2.twitter_badge @oncomouse
	%aside.notes
		:markdown
			My talk today will explore a rhetoric of inhumanism. As I will argue, I consider inhumanism to be a darkly parasitic discourse on what I see as an overly optimistic posthuman turn in rhetorical theory, embodied at its fullest in the piecemeal body of scholarship we could refer to as "object-oriented rhetoric." This recent turn away from human-oriented theory culminates, I argue, a decades-long project of general academic posthumanism. Beginning with Foucault's evocation of the human as a design traced on the water's edge, its sand being slowly eroded by an oncoming tide of ... something else, the project of over-turing humanist philosophy's myriad of biases has played out in a number of ways. In the 1990s and early 2000s (when I got interested in the subject), posthumanism was all about robots:
%section
	= image_tag "http://i.telegraph.co.uk/multimedia/archive/02282/robocop_2282286b.jpg"
	%aside.notes
		:markdown
			the cyborgs and information our bodies were destined to become. Rhetoricians have largely absorbed this cybernetic turn in the figure of technological/ecological composition: the rhetor as a composer at the heart of a web of digital/informatic technologies. From this cyborg moment, following the work of Carey Wolfe primarily, posthumanism has bafflingly, I think, turned to the question of the animal:
%section
	= image_tag "http://www.hotxblog.com/images/golden_eagle_hunting6.jpg"
	%aside.notes
		:markdown
			overcoming the privileging of Descarte's *cogito* by recognizing the animal that we therefore are. This turn, I think, has proved more problematic for rhetorical theory. On the one hand, we have George A Kennedy's account of animal communication as precursor to human persuasion and on the other, I argue, we have whatever it is people are doing to adapt Graham Harman's object-oriented ontology to the topic of rhetoric.
%section
	%h2 Posthumanism
	.things
		.thing
			= image_tag "robot.png"
		.thing
			= image_tag "eagle.png"
		.thing
			= image_tag "rock.png"
	%aside.notes
		:markdown
			It's important, I think, to acknowledge all of this (cyborgs, animals, stuff) as existing on a continuum of ideas provoked by Foucault's claim that the human was an intellectual construct for configuring the power structures that variously made imperialism, capitalism, and militarism possible for the last 500 years or so. In experimenting with what comes after this hoped-for erasure of the human, intellectual interest in posthumanism seems to have slipped into the realm of that which always surrounded and formerly silently undergirded our humanism: namely, this is the shift (best represented by OOO) from the posthuman to the nonhuman as focus of discourse. Today, however, I propose to discuss some problems, from a rhetorical standpoint, with the way this nonhuman turn is playing out in rhetorical theory, and, instead, propose a counterrhetoric to this turn to animals and stuff: 
%section.center
	%h1 Inhumanism
	%aside.notes
		:markdown
			what I am calling "inhumanism."

			In the nonhuman turn, posthumanism becomes a kind of liberal cosmopolitanism, the twin stranded philosophy of worldliness that
%section
	= image_tag "http://upload.wikimedia.org/wikipedia/commons/thumb/7/72/Kwame_Anthony_Appiah.jpg/401px-Kwame_Anthony_Appiah.jpg"
	%aside.notes
		:markdown
			Kwame Anthony Appiah defines as being of two intertwined notions: QUOTE "the idea that we have obligations to others, obligations that stretch beyond those to whom we are related by the ties of kith and kind" UNQUOTE and QUOTE "that we have to take seriously the value not just of human life but of particular human lives, which means taking an interest in the practices and beliefs that lend them significance" UNQUOTE. I'm thinking here of Jim Brown's concept of "decorous" relationships with objects or Nathaniel Rivers understanding of nonhumans as part of the "masses" appealed to by public rhetoric, when I think about object-oriented rhetoric as a project of *non-human cosmopolitanism*.
%section
	:markdown
		> [W]e come to a point where each of us can realistically imagine contacting any other of our six billion conspecifics and sending that person something worth having: a radio, an antibiotic, a good idea. Unfortunately, we could also send, through negligence as easily as malice, things that will cause harm: a virus, an airborne pollutant, a bad idea.
		>
		> Appiah, _Cosmopolitanism_
	%aside.notes
		:markdown
			However, as Appiah points out, these two threads can be both good and bad, 

			> we come to a point where each of us can realistically imagine contacting any other of our six billion conspecifics and sending that person something worth having: a radio, an antibiotic, a good idea. Unfortunately, we could also send, through negligence as easily as malice, things that will cause harm: a virus, an airborne pollutant, a bad idea.
			
			So, while Appiah is pointedly interested in people, I think my point is at least worth considering as a thought experiment: what if object-oriented rhetoric is just extending the rhetoric of cosmopolitanism to objects? It seems that this is a distinct possibility. However, I am concerned that the rhetoric of object-oriented rhetoric is too concerned with the "sending something worth having" part of Appiah's understanding of cosmopolitanism and is negligent about sending "things that will cause harm."
%section
	= image_tag "http://upload.wikimedia.org/wikipedia/commons/thumb/2/20/Carpentry_hand_tools.jpg/716px-Carpentry_hand_tools.jpg"
	%aside.notes
		:markdown
			Consider this example from Brown and Rivers's recent article "Composing the Carpenter's Workshop." In concluding their discussion of rhetoric and composition's ability to QUOTE "construct strange conversations" between sets of nonhuman objects, they offer the following example, of a future composition-oriented classroom in which students are extruding a blue plastic object from a 3D printer. As this object emerges into being, it is a strange puzzle
%section
	:markdown
		> The challenge is to evenly apportion the water in all of the compartments by sliding open and close the dividers inside the sphere. The object of the object is to foreground water itself as a political actor. Aside from the human intention to fairly distribute fresh water (which might or might not be present), the puzzle presents water as an object with its own purposes and features, both of which make it difficult to control. Through this object, environmental rhetoric becomes something other than the task of shaping human hearts and minds to “save the world,” and instead becomes something more akin to the recognition that the “world itself” is likewise populated by a plethora of nonhuman political actors.
		>
		> Brown & Rivers, "Composing the Carpenter's Workshop"
	%aside.notes
		:markdown
			> The challenge is to evenly apportion the water in all of the compartments by sliding open and close the dividers inside the sphere. The object of the object is to foreground water itself as a political actor. Aside from the human intention to fairly distribute fresh water (which might or might not be present), the puzzle presents water as an object with its own purposes and features, both of which make it difficult to control. Through this object, environmental rhetoric becomes something other than the task of shaping human hearts and minds to “save the world,” and instead becomes something more akin to the recognition that the “world itself” is likewise populated by a plethora of nonhuman political actors. [@brown_jr._composing_2014, p. 34]

			So if I understand the lesson to take from Brown and Rivers here, the blue plastic object connects us with water in a new way, provoking our understanding of global environmentalism through the strange conversation between water and plastic thing. In other words, the students are marshaling this plastic object in order to provoke a richer experience of water, accessing one opaque object through a concrete, tangible thing, birthed for this purpose.
			
			You see, all of this makes me think of images of
%section.center
	=image_tag "http://i.imgur.com/dY6ZF.jpg"
	%aside.notes
		:markdown
			colonial servants carrying their British employers across the landscape of Victorian India. In my example, the servant, a concrete object like the blue puzzle in a flat ontology of objects, is certainly provoking a richer understanding of the biodiversity of the opaque object of India's ecology, just as the blue puzzle provokes our understanding of "water". My specific comparison to the colonial mobilization of bodies is deliberate and ultimately provoked by Brown and Rivers's language, however. 
%section
	:markdown
		> Such an approach might very well inform an alternative exploration of subaltern others, simulating the experience of those at the margins. Such simulations will only be able to catch what Bogost calls the “exhaust” of a subaltern’s experience, but we would argue that rhetoric is well- suited for such a task.
		>
		> ... Objectifying others, if objects are taken as autonomous and always withdrawn, is here the most ethical approach. Bogost’s carpentry calls for us to create machines that simulate the experience of another, and one can imagine that rhetorical carpentry could make great strides by simulating the experience of both humans and nonhumans, presenting a unique site of persuasion and perhaps even identification.
		>
		> Brown & Rivers, "Composing the Carpenter's Workshop"
	%aside.notes
		:markdown
			In mentioning ethical upshots of a rhetorical carpentry, they suggest that

			> Such an approach might very well inform an alternative exploration of subaltern others, simulating the experience of those at the margins. Such simulations will only be able to catch what Bogost calls the “exhaust” of a subaltern’s experience, but we would argue that rhetoric is well- suited for such a task.

			Horrifying as this claim may appear, they explain that

			> Objectifying others, if objects are taken as autonomous and always withdrawn, is here the most ethical approach. Bogost’s carpentry calls for us to create machines that simulate the experience of another, and one can imagine that rhetorical carpentry could make great strides by simulating the experience of both humans and nonhumans, presenting a unique site of persuasion and perhaps even identification.

			In this claim, then, simulations of The Other's experience can provoke something like an ethical understanding, but, as with the blue plastic or the master's servant, what of the software enslaved to these simulations? Nevermind the question of the simulation's author who may or may not accurately simulate anything? Moreover, within this elision of simulation and experience, don't we normally encourage students to study abroad to gain these ethical insight? What economies do we participate in if we choose to simulate these encounters, instead?
			
			In any case, to the direct matter at hand, Brown and Rivers, seem to be ignoring the "objects all the way down" implications of Harman's original insight. Additionally, given my counterexample of the servant carrying the master across India, objectifying people has, historically, the habit of opening up the instrumentalization of human bodies (cf. Marx, Karl).

%section
	= image_tag "http://africasacountry.com/wp-content/uploads/2011/09/osho-on-karl-marx.jpeg"

	%aside.notes
		:markdown
			 While Brown and Rivers argue that a Bogostian understanding of rhetorical carpentry can also open the space for an object to speak for itself, as Appiah reminds us, cosmopolitanism also has a dark side, laden with rhetorical goodwill doing bad as well as ill-will doing bad.
			 
			 Moreover, given their usage of "subaltern" (one of the most loaded of terms in critical theory), looking at Gayatri Spivak's 

%section
	= image_tag "http://upload.wikimedia.org/wikipedia/commons/thumb/3/36/Gayatri_Chakravorty_Spivak_at_Goldsmiths_College.jpg/449px-Gayatri_Chakravorty_Spivak_at_Goldsmiths_College.jpg"
	%aside.notes
		:markdown
			influential work on the concept is instructive. Writing on the question of the appropriation of class struggle and consciousness within the poststructural theories of Deleuze and Foucault, Spivak argues that in their work
%section
	:markdown
		>  Are those who act and *struggle* mute, as opposed to those who act and *speak*? These immense problems are buried in the differences between the 'same' words: consciousness and conscience (both *conscience* in French), representation and re-presentation. The critique of ideological subject-constitution within state formations and systems of political economy can now be effaced, as can the active theoretical practice of the 'transformation of consciousness'. The banality of leftist intellectuals' lists of self-knowing, politically canny subalterns stands revealed; representing them, the intellectuals represent themselves as transparent.
		>
		> Spivak, "Can the Subaltern Speak?"
	%aside.notes
		:markdown
			> Are those who act and *struggle* mute, as opposed to those who act and *speak*? These immense problems are buried in the differences between the 'same' words: consciousness and conscience (both *conscience* in French), representation and re-presentation. The critique of ideological subject-constitution within state formations and systems of political economy can now be effaced, as can the active theoretical practice of the 'transformation of consciousness'. The banality of leftist intellectuals' lists of self-knowing, politically canny subalterns stands revealed; representing them, the intellectuals represent themselves as transparent.
			
			Can we not, now, suggest that there is something of this will to transparency at work in the carpentry model of rhetorical or philosophical speculation? Brown and Rivers, not to mention Bogost who is equally imbricated here, construct the carpenter as transparent vessel, building simulations and putting other objects into "strange conversations." As Brown writes on the decorum of objects,
%section
	:markdown
		> By engaging with objects and putting them into relation with one another (and by understanding that we are *enmeshed* in this process rather than *in charge* of it) we can consider how objects act differently in different rhetorical situations.
		>
		> Brown, "The Decorum of Objects"
	%aside.notes
		:markdown
			> By engaging with objects and putting them into relation with one another (and by understanding that we are *enmeshed* in this process rather than *in charge* of it) we can consider how objects act differently in different rhetorical situations.
			
			*We* put *them* into relation with one another (I can't help think of the selective breeding of horses here). *We* do all of this, and while this may only enmesh us in their relationship it still assigns the carpenter a privileged position: pushing two objects together, seeing what happens, and compiling our knowledge. This is the same kind of scientific worldview described in Nancy Merchant's *The Rape of Nature* or Martin Heidegger's concept of standing reserve.
%section.center
	%h2 The World-For-Us
	%h2 The World-In-Itself
	
	%aside.notes
		:markdown
			Moreover, this places us as rhetoricians into an interesting dichotomy between what Eugene Thacker calls "the world-for-us" (of correlationist philosophy) and "the world-in-itself" (of this classic scientific method). Rhetoric, prior to the nonhuman turn, has been a domain of the correlationist "world-for-us," and I argue that rhetorical carpentry is an attempt to shift rhetoric into the scientific "world-in-itself" of things as they are. I am dubious of this operation, for reasons I've already elucidated. 
%section
	%h2 The World-For-Us
	%h2 The World-In-Itself
	%h2 <strong>The World-Without-Us</strong>
	%aside.notes
		:markdown
			However, what I am interested in, and what I think gives rhetoric a novel place in the construction of the posthumanities, is Thacker's third term "the world-without-us." As he writes,
%section
	:markdown
		> the world-without-us cannot co-exist with the human world-for-us; the world-without-us is the subtraction of the human from the world. To say that the world-without-us is antagonistic to the human is to attempt to put things in human terms, in the terms of the world-for-us. To say that the world-without-us is neutral with respect to the human, is to attempt to put things in the terms of the world-in-itself. The world-without-us lies somewhere in between, in a nebulous zone that is at once impersonal and horrific. The world-without-us is as much a cultural concept as it is a scientific one.
		>
		> Thacker, _In the Dust of This Planet_
	%aside.notes
		:markdown
			> the world-without-us cannot co-exist with the human world-for-us; the world-without-us is the subtraction of the human from the world. To say that the world-without-us is antagonistic to the human is to attempt to put things in human terms, in the terms of the world-for-us. To say that the world-without-us is neutral with respect to the human, is to attempt to put things in the terms of the world-in-itself. The world-without-us lies somewhere in between, in a nebulous zone that is at once impersonal and horrific. The world-without-us is as much a cultural concept as it is a scientific one. [@thacker_dust_2011, pp. 5-6]

			From my perspective, the world-without-us (the domain occupied by Harman's occluded objects) is fundamentally inhuman, neither human nor nonhuman: a third space between culture and science, between horror and impersonality. Thacker's book on horror and philosophy is a strong (though, I think, mostly overlooked) rebuke of the Ian Bogost version of OOO: we cannot hope to enlist nonhumans into "our" democracy. The domain of the Harmanian object is the world-without-us, a world in which we must ask to be granted a seat at the table.

			Following Thacker and in contrast to the concept of carpentry, I want to put forward that my concept of inhumanism is the rhetoric of the world-without-us, a rhetoric of the creeping death,
%section
	= image_tag "http://www.metal-archives.com/images/4/2/3/3/4233.jpg"
	%aside.notes
		:markdown
			the things that ominously surround us,
%section
	= image_tag "http://upload.wikimedia.org/wikipedia/commons/f/ff/Air_.pollution_1.jpg"
	%aside.notes
		:markdown
			fill our lungs with poison and mutated flu viruses, cover our skins with lesions and spots that might be cancer (we should get that looked at), and control the economic destinies of our lives in a million ways that we could never even know, control, or understand. It is the slowly dawning knowledge of the imminent collapse of our way of life and the co-emergent understanding of our imbrication in this collapse and our inability to stop it. The inhuman is an intensification of the stuff alternately "churning" and "rumbling" just beyond human perception in the writing of Graham Harman, Timothy Morton, and Ian Bogost. In other words, I want to take very seriously the idea that our stuff may not be interested in participating in our experiments into the nature of nonhuman reality.

			This provocation of the world-without-us offers a counterrhetoric to the participatory (and vaguely neo-liberal) ideas of "democracy of objects" or "parliament of things" or whatever Pee-wee's Playhouse
%section
	= image_tag "http://37.media.tumblr.com/tumblr_m7o739j7cN1rysqqjo1_500.jpg"
	%aside.notes
		:markdown
			of friendly talking furniture we may want to assemble.
			
			Following Thacker, and Graham Harman himself, I am sourcing my understanding of inhuman rhetoric from the weird fiction of 
%section
	=image_tag "http://upload.wikimedia.org/wikipedia/commons/d/d3/Howard_Phillips_Lovecraft_in_1915_%282%29.jpg"
	%aside.notes
		:markdown
			H.P. Lovecraft. An obscure figure for much of the 20th century, Lovecraft has, in the last twenty years, exploded into the limelight, with new editions of his work and a whole cottage industry dedicated to selling plush Cthulhu toys and Miskatonic University swag. Behind this new celebrity, though, lies a sinister churning of the inhuman, a dawning awareness of the increasing relevance of the world-without-us to our daily affairs and immediate future.
			
			This creeping death emerges in a rhetorical trope associated with Lovecraft's most famous creation, 
%section
	=image_tag "http://img1.wikia.nocookie.net/__cb20100202021245/lovecraft/images/1/1b/Kraken-cthulhu.jpg"
	%aside.notes
		:markdown
			Cthulhu.
			
			Timothy Morton discusses Cthulhu as a hyperobject standing in for global warming (whose devastation is unleashed upon the world). Steven E Jones uses the non-Euclidean geometries of Cthulhu's body and his submerged home of R'yleh as a way of thinking about digital landscapes in video games. Alexis Madrigal also uses Cthulhu's merciless and alien otherness as a way to think through the sinister dominance of big data in our lives.
			
			Climate change, digital realms, and big data: three *topoi* no doubt being discussed right now at this conference. All three humanized through recourse to H.P. Lovecraft's most monstrous creation. Cthulhu is, then, the absolute alien other, even on the level of its name. As Lovecraft explains in a 1934 letter,
%section
	:markdown
		> the word is supposed to represent a fumbling human attempt to catch the phonetics of an *absolutely non-human word*. The name of the hellish entity was invented by beings whose vocal organs were not like man's, hence it has no relation to the human speech equipment. The syllables were determined by a physiological equipment wholly unlike ours, *hence could never be uttered perfectly by human throats*. In the story we have human beings who habitually use the word as best they can; but all they can do is to *approximate* it.
		>
		> Lovecraft, Letter to Duane Rimel, July 23, 1934
	%aside.notes
		:markdown
			> the word is supposed to represent a fumbling human attempt to catch the phonetics of an *absolutely non-human word*. The name of the hellish entity was invented by beings whose vocal organs were not like man's, hence it has no relation to the human speech equipment.

			Neither object nor hailable as a human subject, Cthulhu lies beneath the oceans of the South Pacific, waiting for the stars to be right, so that he can return and devour us. His will is enacted in the world by those too feebleminded to resist his call or those whose artistic temperament opens them to the non-euclidian dream-world his consciousness inhabits during his slumber. 

			Given this inhumanity and his ability to summon the bigness and diffuseness of the inhuman factors that currently consume our modernity, Lovecraft provides us a model for beginning to think about the actual inhuman forces in our world that Cthulhu often stands as a trope for in our thinking.

%section
	= image_tag "http://upload.wikimedia.org/wikipedia/commons/thumb/8/8d/Cthulhu_sketch_by_Lovecraft.jpg/485px-Cthulhu_sketch_by_Lovecraft.jpg"
	%aside.notes
		:markdown
			For Lovecraft, the reality that churns beneath our perception in Bogost and Harman is actually terrifying, utterly alien and perhaps better left alone. The inhumanism of Lovecraft's fiction, instead, represents the darkness rumbling within speculative realism as well as the darkness of Appiah's cosmopolitanism. 			
			In conclusion, Lovecraft's rhetoric of inhumanism brings forward the third space between horror and indifference of the world-without-us, the world our objects live in. Cthulhu stands as a provocation to take seriously the space beyond a human/nonhuman binary or even a flat ontology with a sneeringly privileged human observer. Cthulhu's inhuman alienness---whose quivering flesh stands in dread opposition to our quaint understanding of subject and object---opens up a space of horrific confrontation: the inhuman tangled agencies of global warming, pandemic, and big data exist uncomfortably, perhaps even uncannily, in a space between things that we do to ourselves and things that we have done to us by our objects, ultimately not the space of carpentry but the space of the inhuman.

%section
	%h1 Thank You
%section
	%h2 References
	.references
		<p>Appiah, Kwame Anthony. <em>Cosmopolitanism: Ethics in a World of Strangers</em>. W. W. Norton &amp; Company, 2010. Print.</p>
		<p>Brown Jr., James J. “The Decorum of Objects.” <em>Rhetorical Theory Conference</em>. University of South Carolina, Columbia, SC, 2011. Web. 17 May 2014.</p>
		<p>Brown Jr., James J., and Nathaniel Rivers. “Composing the Carpenter’s Workshop.” <em>O-Zone</em> 1.1 (2014): 27–36. Print.</p>
		/<p>Gale, Nathan A. “Bridge Ont(E)Cology.” <em>O-Zone</em> 1.1 (2014): 128–135. Print.</p>
		/<p>Houellebecq, Michel. <em>H. P. Lovecraft: Against the World, Against Life</em>. Trans. Dorna Khazeni. San Francisco CA: McSweeney’s Believer Books, 2005. Print.</p>
		<p>Lovecraft, Howard Phillips. <em>Selected Letters V: 1934-1937</em>. Ed. Donald Wonderei &amp; August Derleth. Sauk City, WI: Arkham House, 1976. Print.</p>
		<p>---. <em>Tales</em>. New York: Library of America, 2005. Print.</p>
		/<p>Marbeck, Richard. “Unclenching the Fist: Embodying Rhetoric and Giving Objects Their Due.” <em>Rhetori</em> 38.1 (2008): 46–65. Print.</p>
		<p>Spivak, Gayatri Chakravorty. “Can the Subaltern Speak?” <em>Marxism and the Interpretation of Culture</em>. Ed. Cary Nelson &amp; Lawrence Grossberg. Urbana, IL: Illinois UP, 1988. Print.</p>
		<p>Thacker, Eugene. <em>In the Dust of This Planet: The Horror of Philosophy, Vol. 1</em>. Alresford, UK: Zero, 2011. Print.</p>